:root{
    --c-pink: #fadee1;
    --c-orange: #fad4ae;
    --c-yellow: #faf1d6;
    --c-red: #fdafab;
    --c-blue: #d9f1f1;
    --c-sea: #b6e3e9;
    --c-green: #b4e5c5;
}

.bg-pink{background-color: #fadee1;}
.bg-orange{background-color: #fad4ae;}
.bg-yellow{background-color: #faf1d6;}
.bg-red{background-color: #fdafab;}
.bg-blue{background-color: #d9f1f1;}
.bg-sea{background-color: #b6e3e9;}
.bg-green{background-color: #b4e5c5;}