body{
	padding-top: 70px;
	padding-bottom: 70px;
	color: #424242;
	background-color: var(--c-green);
	
	font-family: 'Nunito', sans-serif !important;
}

.bg-navbar{background-color: #6e9f7f;}
.bg-form{background-color: #8cbd9d;}

.form-100{
	margin-bottom: 20px;
	width: 100% !important;
}

.btn-form{
	width: 100% !important;
	background-color: #6e9f7f;
}

.btn-form:hover{
	background-color: #4c7d5d;
}

.card{
	padding: 5px;
	margin-bottom: 20px;
}


.card-curved{border-radius: 5px !important;}
.card-curved-lg{border-radius: 20px !important;}
.pointer{cursor: pointer;}


.container-footer{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
    background-color: #494b5f;
}

.closebtn{
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.closebtn:hover{color: black;}