@font-face {
	font-family: 'Caviar Dreams';
	font-style: normal;
	font-weight: normal;
	src: local('Caviar Dreams'), url('../Font/CaviarDreams.ttf') format('truetype');
}
	
	
@font-face {
	font-family: 'Caviar Dreams Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Caviar Dreams Italic'), url('../Font/CaviarDreamsItalic.ttf') format('truetype');
}
	
	
@font-face {
	font-family: 'Caviar Dreams Bold';
	font-style: normal;
	font-weight: normal;
	src: local('Caviar Dreams Bold'), url('../Font/CaviarDreams_Bold.ttf') format('truetype');
}
	
	
@font-face {
	font-family: 'Caviar Dreams Bold Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Caviar Dreams Bold Italic'), url('../Font/CaviarDreams_BoldItalic.ttf') format('truetype');
}


body{
	padding-top: 80px;
	padding-bottom: 70px;
	color: #424242;
	background-color: #f5f2f2;

	font-family:'Caviar Dreams';
	font-weight:normal;
}

.bg-navbar{background-color: #d4f0f0;}
.bg-form{background-color: #abdee6;}

.form-100{
	margin-bottom: 20px;
	width: 100% !important;
}

.btn-form{
	width: 100% !important;
	background-color: #8fcaca;
}

.btn-form:hover{
	background-color: #6da8a8;
}

.card{
	padding: 5px;
	margin-bottom: 20px;
}

.card-curved{border-radius: 5px !important;}
.card-curved-lg{border-radius: 20px !important;}
.pointer{cursor: pointer;}


.container-footer{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
    background-color: #494b5f;
}

.closebtn{
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.closebtn:hover{color: black;}